<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tables</title>
    <th:block layout:fragment="css">
        <link href="/images/logo_img.png" rel="shortcut icon" type="image/x-icon">

        <!-- Custom fonts for this template -->
        <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link
                href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
                rel="stylesheet">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">


        <!-- Custom styles for this template -->
        <link href="/css/sb-admin-2.min.css" rel="stylesheet">

        <!-- Custom styles for this page -->
        <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">


        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
              crossorigin="anonymous">

        <link href="/css/apiDetails.css" rel="stylesheet"/>

    </th:block>


    <!-- index.html 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script src="https://kit.fontawesome.com/24311b556d.js" crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
        <script src="/js/sb-admin-2.min.js"></script>
        <script src="/js/details.js"></script>
    </th:block>


</head>

<body>
<div layout:fragment="content">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-flex justify-content-between mb-2">
                <h1 class="h3 mb-2 text-gray-800">보험업권 ( v1/insu )</h1>
                <div>
                    <button class="btn btn-dark btn-sm">전체 리소스 갱신</button>
                </div>
            </div>
            <div class="d-flex mb-3">
                <div class="w-100 d-flex">
                    <select class="form-select mr-4" onchange="selectChange()" id="show" style="width: 35%;">
                        <option value="resource" selected>리소스</option>
                        <option value="tag">태그</option>
                    </select>
                    <div id="target"></div>
                    <button type="button" class="btn btn-secondary" id="pick"></button>

                </div>
                <div class="d-flex w-100 justify-content-end">
                    <select class="form-select" style="width: 30%;">
                        <option selected>전체</option>
                        <option>develop</option>
                        <option>service</option>
                        <option>deprecate</option>
                        <option>out_of_service</option>
                    </select>
                    <form class="d-flex">
                        <input type="text" class="form-control m-0" placeholder="검색어 입력">
                        <button type="submit" class="btn btn-dark btn-sm" style=" width: 45%">
                            <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i> 조회
                        </button>
                    </form>
                </div>

            </div>
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                            <div class="btn-control">
                                <div>
                                    <i class="fa-solid fa-plus"
                                       onclick="location.href='#'; event.stopPropagation()"></i>
                                    /v1/insu | get-v1-insu
                                </div>
                                <div>
                                    <i class="fa-solid fa-arrows-rotate renew" data-toggle="tooltip"
                                       title="리소스 갱신"
                                       onclick="location.href='#'; event.stopPropagation()"></i>
                                    <!--                                    <div id="tooltipRenew">리소스 갱신</div>-->
                                    <i class="fa-solid fa-file-word doc" data-toggle="tooltip"
                                       title="Swagger 문서"
                                       onclick="location.href='#'; event.stopPropagation()"></i>
                                    <!--                                    <div id="tooltipDoc">Swagger 문서</div>-->
                                    <i onclick="location.href='#'" style="cursor: pointer;" data-toggle="tooltip"
                                       title="Swagger UI"
                                       class="fa-solid fa-globe ui"></i>
                                    <!--                                    <div id="tooltipUI">Swagger UI</div>-->
                                    <i onclick="location.href='#'" style="cursor: pointer;" data-toggle="tooltip"
                                       title="삭제"
                                       class="fa-solid fa-trash-can delete"></i>
                                    <!--                                    <div id="tooltipDelete">삭제</div>-->
                                </div>
                            </div>
                        </button>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingOne"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <table class="table table-hover demo02">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Method</th>
                                        <th scope="col">URI</th>
                                        <th scope="col">Summary</th>
                                        <th scope="col">Security</th>
                                        <th scope="col">Operation ID</th>
                                        <th scope="col">Version</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">else</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr onclick="location.href='#'" style="cursor: pointer">
                                        <td>GET</td>
                                        <td>/v1/invest/accounts</td>
                                        <td>get-v1-invest</td>
                                        <td>Bearer</td>
                                        <td>get-v1-invest</td>
                                        <td>v1</td>
                                        <td>
                                            <select class="form-select">
                                                <option selected>develop</option>
                                                <option value="1">service</option>
                                                <option value="2">deprecate</option>
                                                <option value="3">out_of_service</option>
                                            </select>
                                        </td>
                                        <td>
                                            <i onclick="location.href='#'" style="cursor: pointer;"
                                               data-toggle="tooltip"
                                               title="Swagger 문서"
                                               class="fa-solid fa-file-word doc"></i>
                                            <i onclick="location.href='#'" style="cursor: pointer;"
                                               data-toggle="tooltip"
                                               title="Swagger UI"
                                               class="fa-solid fa-globe ui"></i>
                                            <i onclick="location.href='#'" style="cursor: pointer;"
                                               data-toggle="tooltip"
                                               title="삭제"
                                               class="fa-solid fa-trash-can delete"></i>
                                        </td>
                                    </tr>
                                    <tr onclick="location.href='#'" style="cursor: pointer">
                                        <td>GET</td>
                                        <td>/v1/invest/accounts</td>
                                        <td>get-v1-invest</td>
                                        <td>Bearer</td>
                                        <td>get-v1-invest</td>
                                        <td>v1</td>
                                        <td>
                                            <select class="form-select">
                                                <option selected>develop</option>
                                                <option value="1">service</option>
                                                <option value="2">deprecate</option>
                                                <option value="3">out_of_service</option>
                                            </select>
                                        </td>
                                        <td>
                                            <i onclick="location.href='#'" style="cursor: pointer;"
                                               data-toggle="tooltip"
                                               title="Swagger 문서"
                                               class="fa-solid fa-file-word doc"></i>
                                            <i onclick="location.href='#'" style="cursor: pointer;"
                                               data-toggle="tooltip"
                                               title="Swagger UI"
                                               class="fa-solid fa-globe ui"></i>
                                            <i onclick="location.href='#'" style="cursor: pointer;"
                                               data-toggle="tooltip"
                                               title="삭제"
                                               class="fa-solid fa-trash-can delete"></i>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                <div class="btn-control">
                                    <div>
                                        <i class="fa-solid fa-plus"></i>
                                        /v1/insu | get-v1-insu
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-arrows-rotate"></i>
                                        <i class="fa-solid fa-file-word"></i>
                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingTwo"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the
                                <code>.accordion-flush</code> class. This is the second item's accordion body. Let's
                                imagine this being
                                filled with some actual content.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                <div class="btn-control">
                                    <div>
                                        <i class="fa-solid fa-plus"></i>
                                        /v1/insu | get-v1-insu
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-arrows-rotate"></i>
                                        <i class="fa-solid fa-file-word"></i>
                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingThree"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the
                                <code>.accordion-flush</code> class. This is the third item's accordion body.
                                Nothing more exciting
                                happening here in terms of content, but just filling up the space to make it look,
                                at least at first
                                glance, a bit more representative of how this would look in a real-world
                                application.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 d-flex justify-content-center">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

    <!-- tag Modal-->
    <div class="modal fade" id="tagModal" tabindex="-1" aria-labelledby="tagModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tagModalLabel">태그 추가</h5>
                    <div class="" style="cursor: pointer" data-bs-dismiss="modal"
                    ><i class="fa-solid fa-xmark" style="color: #7f7f7f;"></i></div>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>이름</td>
                            <td><input type="text" class="form-control" id="tagName" placeholder="이름"></td>
                        </tr>
                        <tr>
                            <td>설명</td>
                            <td><input type="text" class="form-control" id="tagExplain" placeholder="설명"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">닫기
                    </button>
                    <button type="button" class="btn btn-dark btn-sm" onclick="addTag()">등록</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Main Content -->




</body>

</html>