<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--configFragment 선언-->
<th:block th:fragment="configFragment">
    <script src="/js/main.js"></script>
    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <!--    <link href="/vendor/bootstrap2/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap2/js/bootstrap.bundle.min.js"></script>

    <!-- 이 영역에 공통으로 사용할 css, js library를 선언한다. -->

    <!-- Content Page의 CSS fragment 삽입 -->
    <th:block layout:fragment="css"></th:block>

    <!-- Content Page의 script fragment 삽입 -->
    <th:block layout:fragment="script"></th:block>

</th:block>
</html>