#search {
    float: right;
}

#userInfobutton {
    margin-bottom: auto;
    text-align: center;
}

.btn-primary {
    display: inline-block;
}

#plus-icon {
    width: 32px;
    height: 32px;
    float: right;
}

.changeColor {
    background-color: lightgrey;
}
td tr th{
    table-layout: fixed;
    max-width:20%;
    height: auto;
}

#Search {
    float: right;
}

#userInfobutton {
    margin-bottom: auto;
    text-align: center;
}

.btn-primary {
    display: inline-block;
}

#plus-icon {
    width: 32px;
    height: 32px;
    float: right;
}

.changeColor {
    background-color: lightgrey;
}

.datatable-dropdown {
    float: right;
}
#search {
    float: right;
}

#userInfobutton {
    margin-bottom: auto;
    text-align: center;
}

.btn-primary {
    display: inline-block;
}

#plus-icon {
    width: 32px;
    height: 32px;
    float: right;
}

.changeColor {
    background-color: lightgrey;
}

#CallbackURL {
    width: 100%;
    table-layout: fixed;
}

#URLScheme {
    width: 100%;
    table-layout: fixed;
}

#callbackUrlTitle {
    text-align: center;
    vertical-align: middle;
}

#APIDomainTitle {
    text-align: center;
    vertical-align: middle;
}

#search {
    float: right;
}

#userInfobutton {
    margin-bottom: auto;
    text-align: center;
}

.btn-primary {
    display: inline-block;
}

#plus-icon {
    width: 32px;
    height: 32px;
    float: right;
}

.changeColor {
    background-color: lightgrey;
}

#CallbackURL {
    width: 100%;
    table-layout: fixed;
}

#URLScheme {
    width: 100%;
    table-layout: fixed;
}

#callbackUrlTitle {
    text-align: center;
    vertical-align: middle;
}

#APIDomainTitle {
    text-align: center;
    vertical-align: middle;
}
#search {
    padding:10px;
}

#row-flex{
    justify-content: flex-end;
}


#closeButton {
    width: fit-content;
    margin-bottom: auto;
    text-align: center;
}

.btn-primary {
    margin: auto;
    display: inline-block;
}

#plus-icon {
    width: 32px;
    height: 32px;
    float: right;
}

div {
    display: block;
}

.changeColor {
    background-color: lightgrey;
}

#dataTable_searchFilter.form-control{
    width: 50%
}

.container{
    justify-content: flex-end;
}

.flex-container.flex-end{
    justify-content: flex-end;
}

#authTable{
    overflow-x: hidden;
    overflow-y: hidden;
}

.card-body{
    padding-right:0;
    !important;
}
