<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>

    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>accountList</title>
    <th:block layout:fragment="css">

        <link
                href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
                rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
    </th:block>
    <th:block layout:fragment="script">
        <script src="https://kit.fontawesome.com/24311b556d.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
        <!-- Page level custom scripts -->
        <script>
            function activate() {
                let activity1 = document.getElementById("deactivate1");
                if (activity1.onclick) {
                    activity1.style.background = "#0d6efd";
                    activity1.textContent = "활성화"
                }
            }

            function deactivate() {
                let activity2 = document.getElementById("activate1");
                if (activity2.onclick) {
                    activity2.style.background = "#e23137";
                    activity2.textContent = "비활성화"
                }
            }

            function changeColor() {
                $('#dataTable tbody tr').mouseover(function () {
                    $(this).addClass('changeColor');
                }).mouseout(function () {
                    $(this).removeClass('changeColor');
                });
            }

        </script>

    </th:block>
>>>>>>>>> Temporary merge branch 2
</head>

<body>
<div layout:fragment="content">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!--메인화면(계정목록)-->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                </div>
                <!--검색어 입력창-->
                <div class="card-body">
                    <div id="search" class="col-md-4 input-group"
                         style="margin-top: 5px; font-size: 10px; margin-right: -9px">
                        <input type="text" class="form-control"
                               placeholder="검색어를 입력해주세요(사용자(CI), 서비스명, 기관명, 기관코드)"
                               aria-label="Search" aria-describedby="basic-addon2"><br>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button"
                                    style=" margin-top: 5px; height: 38px;">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <!--검색어 입력창-->
                <!--유저정보테이블 시작-->
                <div class="card-body">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                           onmouseenter="changeColor()">
                        <colgroup>
                            <col class="">
                            <col class="">
                            <col class="">
                            <col class="">
                        </colgroup>
                        <thead class="v-data-table-header">
                        <tr>
                            <th>클라이언트 ID</th>
                            <th>사용자</th>
                            <th>서비스명</th>
                            <th>기관명</th>
                            <th>기관코드</th>
                            <th>발급일자</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="white" data-bs-toggle="modal" data-bs-target="#tokenInformationModal">
                            <td class="text-start">hEuscvYfkBdJzjmdsstvuZsDngxIaPSNAhb</td>
                            <td class="text-start">46435279</td>
                            <td class="text-start"></td>
                            <td class="text-start">주식회사 국민은행</td>
                            <td class="text-start">A1AAEO0000</td>
                            <td class="text-start">2021-09-23 11:03</td>
                        </tr>
                        <tr class="white" data-bs-toggle="modal" data-bs-target="#tokenInformationModal">
                            <td class="text-start">GTrnmyGXBQlRqneuORuENJfFYjKdHBHaQZlf</td>
                            <td class="text-start">40112633</td>
                            <td class="text-start">핀다</td>
                            <td class="text-start">(주)핀다</td>
                            <td class="text-start">ZVAALO0000</td>
                            <td class="text-start">2021-11-27 13:35</td>
                        </tr>
                        <tr class="white" data-bs-toggle="modal" data-bs-target="#tokenInformationModal">
                            <td class="text-start"> XYXWGcPJsSinfsdCOnubxyFjHHZglFvTtpsKj</td>
                            <td class="text-start">38745447</td>
                            <td class="text-start">교보사업자테스트</td>
                            <td class="text-start">교보생명보험(주)</td>
                            <td class="text-start">ZVAAAI0000</td>
                            <td class="text-start">2022-01-05 17:40</td>
                        </tr>
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End of Main Content -->
<!--유저정보테이블 끝-->
<!--유저정보 모달 시작-->
<!--유저정보 모달 시작-->
<div class="modal" tabindex="-1" id="tokenInformationModal" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card-body" style="font-size: 13px; white-space: nowrap">
                    <table class="table table-bordered" id="basicInformation">
                        <thead>
                        <tr>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                             <td class=" tg-0pky">클라이언트 ID
                            </td>
                            <td class="tg-0pky" colspan="2">XYXWGcPJsSinfsdCOnubxyFjHHZglFvTtpsKj</td>
                        </tr>
                        <tr>
                            <td class="tg-0pky">사용자 정보</td>
                            <td class="tg-0pky" colspan="2">38745447</td>
                        </tr>
                        <tr>
                            <td class="tg-0pky">서비스명</td>
                            <td class="tg-0pky" colspan="2">교보사업자테스트</td>
                        </tr>
                        <tr>
                            <td class="tg-0pky">기관명</td>
                            <td class="tg-0pky" colspan="2">교보생명보험(주)</td>
                        </tr>
                        <tr>
                            <td class="tg-0pky">기관코드</td>
                            <td class="tg-0pky" colspan="2">ZVAAAI0000</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered" id="basicInformations" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th class="tg-0pky" colspan="3">기본정보</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="tg-0pky">발급한 AccessToken</td>
                            <td class="tg-0pky" colspan="2">
                                eyJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJaVkFBQUkwMDAwIiwianRpIjoiMTM2NyIsImlzcyI6Im15ZGF0YXQua3lvYm8uY29tIiwic3ViIjoiU3A0SURRb2ZvdGhtVzgyaVkzTVI2bWwwejVVTzlEdWgiLCJzY29wZSI6Imluc3UubGlzdCIsImV4cCI6MTY0MTk3Njg0NCwiaWF0IjoxNjQxMzcyMDQ0fQ.Ep2xwLX9b1yoLv9N_7uUHzRcF93zD1oe4pCLrnTvx9xAb8VVDPXOeWD2L7CAW27BpPOz3gGPgd5ADxba7LbZAmEkrvtR9O1OeHRawoaqOQrnu9MuHZ4aw4Q7DaVLj61xzDzp6IEVJfk0N0tdZxBnJ62Gd0PPPnEDrKmfPNZXnW4sTeBDjGUmpF0BEisCmaggWIXf5UmG0eHA2hDvDTfK9quQYqTgyUYqS9sGTPaDy2vWnpBNPDkyNaWtLoVcX8sa3X61wa4OImoI_Hu_iMht6VVNhN-wj_ddRBjjQ0L3LQuAum-aix-reOZLlF-sUytXp2zqNNjxx0o4v3WQXGXUkw
                            </td>
                        </tr>
                        <tr>
                            <td class="tg-0pky">발급시간</td>
                            <td class="tg-0pky" colspan="2">2022-01-05 17:40</td>
                        </tr>
                        <tr>
                            <td class="tg-0pky">access token 폐기일</td>
                            <td class="tg-0pky" colspan="2">2022-01-12 17:40</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered" id="tokenTable">
                        <thead>
                        <tr>
                            <th class="tg-0pky" colspan="3">Refresh Token</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="tg-0pky">발급한 AccessToken</td>
                            <td class="tg-0pky" colspan="2">
                                eyJhbGciOiJub25lIn0.eyJleHAiOjE2NzI5MDgwNDQsImlhdCI6MTY0MTM3MjA0NCwicmVmcmVzaCI6ImZjY2IwNWFkLTgzNzMtNGZlMy1hNWJmLTQ5NTk4NzVlYjU1ZSJ9.
                            </td>
                        </tr>
                        <tr>
                            <td class="tg-0pky">Refresh token 폐기일</td>
                            <td class="tg-0pky" colspan="2">2023-01-05 17:40</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered" id="scope">
                        <thead>
                        <tr>
                            <th class="tg-0pky" colspan="3">SCOPE</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="tg-0pky">Scope</td>
                            <td class="tg-0pky" colspan="2">insu.list</td>
                        </tr>
                        <tr>
                            <td class="tg-0pky">Refresh token 폐기일</td>
                            <td class="tg-0pky" colspan="2">2023-01-05 17:40</td>
                        </tr>
                        </tbody>
                    </table>
                    <div id="userInfobutton">
                        <button class="btn btn-primary" data-bs-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--유저정보 모달 끝-->
<!-- End of Content Wrapper -->
</div>
</div>


</body>
</html>