<!DOCTYPE html>

<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <title>Bamdule</title>

    <th:block th:replace="~{fragment/config :: configFragment}"></th:block>
    <!-- config fragment 사용 -->
</head>
<body>
<div class="row" style="position:fixed; !important; width: 100%; margin-left: 0rem;">
    <th:block th:replace="~{fragment/headSideBar :: headerFragment}"></th:block>

    <th:block th:replace="~{fragment/headSideBar :: sideBarFragment}"></th:block>
    <div class="col-9 mt-5" style="text-align: center; float:left;">
        <div layout:fragment="content"></div>
    </div>
</div>


</body>
</html>