<!DOCTYPE html>

<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <title>Bamdule</title>

    <!-- config fragment 사용 -->
    <th:block th:replace="fragment/config :: configFragment"></th:block>
</head>

<body>
<!-- header fragment 사용 -->
<!--
    content fragment 사용
    현재 layout을 사용하는 content fragment의 내용을 삽입한다.
-->

<!--<th:block layout:fragment="content"></th:block>-->


<div>

    <th:block th:replace="fragment/headSideBar :: headerFragment"></th:block>
    <div class="row">
        <div class="col-2">
            <th:block th:replace="fragment/headSideBar :: sideBarFragment"></th:block>
        </div>
        <div class="col-9 mt-5" style="text-align: center; float:left;">
            <th:block layout:fragment="content"></th:block>
        </div>
    </div>


</div>


<!-- footer fragment 사용 -->
</body>

</html>