<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    #search {
      float: right;
    }


    #closeButton{
      width:fit-content;
      margin-bottom: auto;
      text-align: center;
    }
    .btn-primary{
      margin:auto;
      display: inline-block;
    }

    #plus-icon {
      width: 32px;
      height: 32px;
      float: right;
    }
    .changeColor{
      background-color: grey;
    }
  </style>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <title>authorization</title>
  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <form class="form-inline">
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
        </form>

        <!-- Topbar Search -->
        <form
                class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
          <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                   aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
        </form>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

          <!-- Nav Item - Search Dropdown (Visible Only XS) -->
          <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                 aria-labelledby="searchDropdown">
              <form class="form-inline mr-auto w-100 navbar-search">
                <div class="input-group">
                  <input type="text" class="form-control bg-light border-0 small"
                         placeholder="Search for..." aria-label="Search"
                         aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </li>

          <!-- Nav Item - Alerts -->
          <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bell fa-fw"></i>
              <!-- Counter - Alerts -->
              <span class="badge badge-danger badge-counter">3+</span>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
              <h6 class="dropdown-header">
                Alerts Center
              </h6>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                  <div class="icon-circle bg-primary">
                    <i class="fas fa-file-alt text-white"></i>
                  </div>
                </div>
                <div>
                  <div class="small text-gray-500">December 12, 2019</div>
                  <span class="font-weight-bold">A new monthly report is ready to download!</span>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                  <div class="icon-circle bg-success">
                    <i class="fas fa-donate text-white"></i>
                  </div>
                </div>
                <div>
                  <div class="small text-gray-500">December 7, 2019</div>
                  $290.29 has been deposited into your account!
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                  <div class="icon-circle bg-warning">
                    <i class="fas fa-exclamation-triangle text-white"></i>
                  </div>
                </div>
                <div>
                  <div class="small text-gray-500">December 2, 2019</div>
                  Spending Alert: We've noticed unusually high spending for your account.
                </div>
              </a>
              <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
            </div>
          </li>

          <!-- Nav Item - Messages -->
          <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-envelope fa-fw"></i>
              <!-- Counter - Messages -->
              <span class="badge badge-danger badge-counter">7</span>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="messagesDropdown">
              <h6 class="dropdown-header">
                Message Center
              </h6>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="dropdown-list-image mr-3">
                  <img class="rounded-circle" src="/img/undraw_profile_1.svg"
                       alt="...">
                  <div class="status-indicator bg-success"></div>
                </div>
                <div class="font-weight-bold">
                  <div class="text-truncate">Hi there! I am wondering if you can help me with a
                    problem I've been having.
                  </div>
                  <div class="small text-gray-500">Emily Fowler · 58m</div>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="dropdown-list-image mr-3">
                  <img class="rounded-circle" src="/img/undraw_profile_2.svg"
                       alt="...">
                  <div class="status-indicator"></div>
                </div>
                <div>
                  <div class="text-truncate">I have the photos that you ordered last month, how
                    would you like them sent to you?
                  </div>
                  <div class="small text-gray-500">Jae Chun · 1d</div>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="dropdown-list-image mr-3">
                  <img class="rounded-circle" src="/img/undraw_profile_3.svg"
                       alt="...">
                  <div class="status-indicator bg-warning"></div>
                </div>
                <div>
                  <div class="text-truncate">Last month's report looks great, I am very happy with
                    the progress so far, keep up the good work!
                  </div>
                  <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="dropdown-list-image mr-3">
                  <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                       alt="...">
                  <div class="status-indicator bg-success"></div>
                </div>
                <div>
                  <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                    told me that people say this to all dogs, even if they aren't good...
                  </div>
                  <div class="small text-gray-500">Chicken the Dog · 2w</div>
                </div>
              </a>
              <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
            </div>
          </li>

          <div class="topbar-divider d-none d-sm-block"></div>

          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
              <img class="img-profile rounded-circle"
                   src="img/undraw_profile.svg">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
              <a class="dropdown-item" href="#">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Profile
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                Settings
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                Activity Log
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
              </a>
            </div>
          </li>

        </ul>

      </nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!--메인 화면(계정목록)-->
        <!-- Page Heading -->
        <div class="row" style="margin-bottom: 5px">
          <h1 class="h3 mb-2 text-gray-800" style = "margin-left: 12px">요청목록</h1>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">정보 입력</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                          aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div>
                    <div class="mb-3">
                      <label for="IdInput" class="form-label">아이디</label>
                      <input type="text" class="form-control" id="IdInput" name = "id"
                             placeholder="example11">
                    </div>
                  </div>
                  <div>
                    <div class="mb-3">
                      <label for="nameInput" class="form-label">이름</label>
                      <input type="text" class="form-control" id="nameInput" name = "name"
                             placeholder="홍길동">
                    </div>
                  </div>
                  <div>
                    <div class="mb-3">
                      <label for="phonenumber" class="form-label">전화번호</label>
                      <input type="text" class="form-control" id="phonenumber" name = "phonenumber"
                             placeholder="010-1234-5678">
                    </div>
                  </div>
                  <div>
                    <div class="mb-3">
                      <label for="password" class="form-label">비밀번호</label>
                      <input type="password" class="form-control" id="password" name = "password"
                             placeholder="비밀번호">
                    </div>
                  </div>
                  <div>
                    <div class="mb-3">
                      <label for="passwordCertification" class="form-label">비밀번호 확인</label>
                      <input type="password" class="form-control" name = "certifi"
                             id="passwordCertification" placeholder="확인">
                    </div>
                  </div>
                  <div>
                    <div class="mb-3">
                      <label for="emailInput" class="form-label">이메일</label>
                      <input type="email" class="form-control" name = "email" id="emailInput"
                             placeholder="name@example.com">
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                  </button>
                  <form name="modalSubmit" type="button" class="btn btn-primary" onclick=changeConfirm()>Save
                    changes
                  </form>
                  <!--정보수정 모달끝!-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
          </div>
          <!--검색어 입력창-->
          <div class="card-body">
            <div id="search" class="col-md-4 input-group"
                 style="margin-top: 5px; font-size: 10px; margin-right: -9px">
              <input type="text" class="form-control"
                     placeholder="검색어를 입력해주세요"
                     aria-label="Search" aria-describedby="basic-addon2"><br>
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" style=" margin-top: 5px; height: 38px;">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </div>
          <!--검색어 입력창-->
          <!--유저 정보 테이블 시작-->
          <div class="card-body">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
              <tr>
                <th>요청</th>
                <th>제목</th>
                <th>내용</th>
                <th>요청 계정</th>
                <th>요청 상태</th>
                <th>요청 날짜</th>
                <th>응답 날짜</th>
                <th>비고</th>
              </tr>
              </thead>
              <tfoot>
              </tfoot>
              <tbody>
              <tr>
                <!--요청-->
                <td id = "requestNumber" data-bs-toggle="modal" data-bs-target="#requestDetailModal">14</td>
                <!--제목-->
                <td id = "requestTitle" data-bs-toggle="modal" data-bs-target="#requestDetailModal">리소스 권한 요청[앱 아이디: 19]</td>
                <!--내용-->
                <td id = "requestContents" data-bs-toggle = "modal" data-bs-target = "#requestDetailModal">
                  앱 아이디: 109, 앱 이름: 123, 리소스: ,아이디:68, URI:/v1/invest/account
                </td>
                <!--요청 계정-->
                <td id = "requestAccount" data-bs-toggle = "modal" data-bs-target = "#requestDetailModal">u1</td>
                <!--요청 상태-->
                <td id = "requestStatus" data-bs-toggle = "modal" data-bs-target = "#requestDetailModal">승인
                </td>
                <!--요청 날짜-->
                <td id = "requestDate" data-bs-toggle = "modal" data-bs-target = "#requestDetailModal">2023-04-18</td>
                <!--응답날짜-->
                <td id = "responseDate" data-bs-toggle = "modal" data-bs-target = "#requestDetailModal">2023-04-18</td>
                <!--비고(삭제)-->
                <td id = "requestDeletion" data-bs-toggle = "modal" data-bs-target = "#requestDetailModal">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" onclick = "eraseWarning();"
                       class="bi bi-eraser-fill" viewBox="0 0 16 16">
                    <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
                  </svg>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
    <!--유저정보테이블 끝-->
    <!--유저정보 모달 시작-->
    <div class="modal" tabindex="-1" id = "requestDetailModal" data-bs-backdrop="static">
      <div class="modal-dialog modal-dialog-centered modal-xl" >
        <div class="modal-content">
          <div class="modal-body" >
            <div class="card-body" style = "font-size: 13px; white-space: nowrap">
              <table class="table table-bordered" id="informationTable" width="100%" cellspacing="0">
                <thead>
                </thead>
                <tbody data-v-3b1040d2="">
                <tr data-v-3b1040d2="">
                  <th data-v-3b1040d2="" width="20%; font-size:1rem;" >요청 번호</th>
                  <td data-v-3b1040d2="" colspan="3"> 14 </td>
                </tr>
                <tr data-v-3b1040d2="">
                  <th data-v-3b1040d2="">요청 구분</th>
                  <td data-v-3b1040d2=""> 리소스 권한 요청 </td>
                  <th data-v-3b1040d2="">해당 아이디</th>
                  <td data-v-3b1040d2=""> 109 </td>
                </tr>
                <tr data-v-3b1040d2="">
                  <th data-v-3b1040d2="">요청 계정</th>
                  <td data-v-3b1040d2=""> u1 </td>
                  <th data-v-3b1040d2="">요청 날짜</th>
                  <td data-v-3b1040d2=""> 2023-04-18 </td>
                </tr>
                <tr data-v-3b1040d2="">
                  <th data-v-3b1040d2="">요청 상태</th>
                  <td data-v-3b1040d2=""> 승인 </td>
                  <th data-v-3b1040d2="">처리 결과</th>
                  <td data-v-3b1040d2=""> 성공 </td>
                </tr>
                <tr data-v-3b1040d2=""><th data-v-3b1040d2="">처리 계정</th>
                  <td data-v-3b1040d2=""> mydata </td>
                  <th data-v-3b1040d2="">처리 날짜</th>
                  <td data-v-3b1040d2=""> 2023-04-18 </td>
                </tr>
                <tr data-v-3b1040d2=""><th data-v-3b1040d2="">제목</th>
                  <td data-v-3b1040d2="" colspan="3"> 리소스 권한 요청 [앱 아이디: 109] </td>
                </tr>
                <tr data-v-3b1040d2=""><th data-v-3b1040d2="">내용</th>
                  <td data-v-3b1040d2="" colspan="3">
                    <div data-v-3b1040d2="" class="v-card v-card--flat v-sheet theme--light" style="min-height: 100px;"> 앱 아이디 : 109
                      앱 이름 : 123
                      리소스 :
                      아이디: 68, URI:/v1/invest/accounts
                      아이디: 69, URI:/v1/invest/accounts/transactions </div>
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="input-group-append" id = "requestModalclose">
                <button class="btn btn-primary" type="button" id = "closeButton" data-bs-dismiss="modal">닫기
                </button>
          </div>
        </div>
      </div>
    </div>
    <!--유저정보 모달 끝-->
  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<!--<script src="/vendor/datatables/jquery.dataTables.min.js"></script>-->
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>
</body>

</html>