<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="">

<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <title>authorization</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/static/css/table.css">
        <link rel="stylesheet" href="/static/css/style.css">
    </th:block>

    <th:block layout:fragment="script">

        <!-- Bootstrap core JavaScript-->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/js/sb-admin-2.min.js"></script>


        <!-- Page level custom scripts -->
        <script>
            function modalClose() {
                $('#authModalClosing').modal("hide");
            }


            function changeConfirm() {
                let name = document.getElementById("nameInput");
                let id = document.getElementById("IdInput");
                let password = document.getElementById("password");
                let certification = document.getElementById("passwordCertification");
                let email = document.getElementById("emailInput");
                let phone = document.getElementById("phonenumber");

                if (name.value === '' || id.value === '' || password.value === '' || certification.value === '' || email.value === '' || phone.value === '') {
                    swal({
                        title: "회원가입 처리에 실패하였습니다.",
                        text: "다시 입력해주세요.",
                        icon: "error"
                    });
                } else {
                    swal({
                        title: "회원가입 처리에 성공하였습니다!",
                        icon: "success"
                    });
                }
            }

            function deleteFunction() {
                let deleteButton = document.getElementById("deleteConfirmbutton");
                deleteButton.onClick = swal({
                    title: "탈퇴처리 되었습니다",
                    icon: 'warning'
                });
            }


            function changeColor() {
                $('#dataTable tbody tr').mouseover(function () {
                    $(this).addClass('changeColor');
                }).mouseout(function () {
                    $(this).removeClass('changeColor');
                });
            }

            function eraseWarning() {
                swal({
                    title: "삭제하시겠습니까?",
                    text: "이 작업은 되돌릴수 없습니다!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            swal("삭제되었습니다.", {
                                icon: "success",
                            });
                        } else {
                        }
                    });
            }

            function correction() {
                $('#activateCheck').attr("disabled", false);
                $('#passwordChange').attr("disabled", false);

                $('#correctionButton').textContent = "저장";

                let name = document.querySelector("#tablename").textContent;

                $('#idSpaceText').attr("disabled", false);
                $('#nameSpaceText').attr("disabled", false);
                $('#phoneNumberSpaceText').attr("disabled", false);
                $('#emailSpaceText').attr("disabled", false);
                //수정
                $('#informationModal').on('hidden.bs.modal', function () {
                    $(this).find('form')[0].reset();
                })
            }

            function modalLoading(val) {
                $(document).ready(function () {
                    let username = document.querySelector("#tablename");
                    let userId = document.querySelector("#tableid");

                    console.log(username.textContent);

                    $("#nameSpaceText").text(username.textContent);
                    $("#idSpaceText").text(userId.textContent);
                });
            }
        </script>
    </th:block>

</head>

<body>

<!-- Page Wrapper -->
<div layout:fragment="content">


    <!-- Begin Page Content -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">권한 관리</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <div class="card shadow mb-4">
        <!--권한 목록 타이틀-->
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">권한 목록</h6>
        </div>
        <!--권한 목록 타이틀-->
        <!--역할 검색바-->
        <div class="card-body" id="body-table">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row justify-content-end">
                        <div class="col-sm-12 col-md-6">
                            <div id="search" class="col-md-auto input-group"
                                 style="font-size: 10px; padding: 0; !important;">
                                <input type="text" class="form-control"
                                       placeholder="검색어를 입력해주세요(클라이언트 ID, 서비스명, 기관명, 기관코드)"
                                       aria-label="Search" aria-describedby="basic-addon2"><br>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" style=" margin-top: 5px; height: 38px;">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--역할 검색바 끝-->
                    <!--역할 목록-->
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="dataTable"
                                   role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                <tr role="row">
                                    <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1"
                                        colspan="1" aria-sort="ascending"
                                        aria-label="Name: activate to sort column descending" style="width: 161px;">code
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        aria-label="Position: activate to sort column ascending" style="width: 248px;">
                                        이름
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        aria-label="Office: activate to sort column ascending" style="width: 115px;">
                                        비고
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="text-start" data-bs-toggle="modal" data-bs-target='#authModal'>ADMIN</td>
                                    <td class="text-start"data-bs-toggle="modal" data-bs-target='#authModal'>운영자</td>
                                    <td class="text-start">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             onclick="eraseWarning();"
                                             class="bi bi-eraser-fill" viewBox="0 0 16 16">
                                            <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
                                        </svg>
                                </tr>
                                <tr class="">
                                    <td class="text-start" data-bs-toggle="modal" data-bs-target='#authModal'>COMMON</td>
                                    <td class="text-start" data-bs-toggle="modal" data-bs-target='#authModal'>일반사용자</td>
                                    <td class="text-start">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             onclick="eraseWarning();"
                                             class="bi bi-eraser-fill" viewBox="0 0 16 16">
                                            <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
                                        </svg>
                                </tr>
                                <tr class="">
                                    <td class="text-start" data-bs-toggle="modal" data-bs-target='#authModal'>PROVIDER</td>
                                    <td class="text-start"data-bs-toggle="modal" data-bs-target='#authModal'>API제공자</td>
                                    <td class="text-start">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             onclick="eraseWarning();"
                                             class="bi bi-eraser-fill" viewBox="0 0 16 16">
                                            <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
                                        </svg>
                                </tr>
                                <tr>
                                    <td class="text-start" data-bs-toggle="modal" data-bs-target='#authModal'>MYDATA</td>
                                    <td class="text-start" data-bs-toggle="modal" data-bs-target='#authModal'>마이데이터 사업자</td>
                                    <td class="text-start">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             onclick="eraseWarning();"
                                             class="bi bi-eraser-fill" viewBox="0 0 16 16">
                                            <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
                                        </svg>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--역할 목록 끝-->
                    <!--페이지네이션-->
                    <div class="row justify-content-end">
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous disabled" id="dataTable_previous"><a
                                            href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0"
                                            class="page-link">Previous</a></li>
                                    <li class="paginate_button page-item active"><a href="#" aria-controls="dataTable"
                                                                                    data-dt-idx="1" tabindex="0"
                                                                                    class="page-link">1</a></li>
                                    <li class="paginate_button page-item "><a href="#" aria-controls="dataTable"
                                                                              data-dt-idx="2" tabindex="0"
                                                                              class="page-link">2</a></li>
                                    <li class="paginate_button page-item "><a href="#" aria-controls="dataTable"
                                                                              data-dt-idx="3" tabindex="0"
                                                                              class="page-link">3</a></li>
                                    <li class="paginate_button page-item "><a href="#" aria-controls="dataTable"
                                                                              data-dt-idx="4" tabindex="0"
                                                                              class="page-link">4</a></li>
                                    <li class="paginate_button page-item "><a href="#" aria-controls="dataTable"
                                                                              data-dt-idx="5" tabindex="0"
                                                                              class="page-link">5</a></li>
                                    <li class="paginate_button page-item "><a href="#" aria-controls="dataTable"
                                                                              data-dt-idx="6" tabindex="0"
                                                                              class="page-link">6</a></li>
                                    <li class="paginate_button page-item next" id="dataTable_next"><a href="#"
                                                                                                      aria-controls="dataTable"
                                                                                                      data-dt-idx="7"
                                                                                                      tabindex="0"
                                                                                                      class="page-link">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--권한 상세 모달 시작-->
<div class="modal" id="authModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="authTitle">Modal title</h5>
            </div>
            <div class="modal-body">
                <div class="form-check">
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"
                           id="authCheck" checked disabled>
                    <label class="form-check-label" for="authCheck">
                        권한1
                    </label>
                </div>
                <div class="modal-footer">
                    <button id="authModalClosing" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        닫기
                    </button>
                    <button type="button" id="modifyButton" class="btn btn-primary" onclick="modify()">수정
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="authInputModal" tabindex="-1" aria-labelledby="authInputModal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">정보 입력</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="mb-3">
                        <label for="authCode" class="form-label">CODE</label>
                        <input type="text" class="form-control" id="authCode" name="code"
                               placeholder="auth">
                    </div>
                    <div>
                        <div class="mb-3">
                            <label for="authName" class="form-label">이름</label>
                            <input type="text" class="form-control" id="authName" name="name"
                                   placeholder="관리자">
                        </div>
                    </div>
                    <div>
                        <div class="mb-3">
                            <label for="authDesc" class="form-label">설명</label>
                            <input type="text" class="form-control" id="authDesc" name="description"
                                   placeholder="이 권한은 관리자 입니다.">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="modalClose()">닫기
                    </button>
                    <form name="modalSubmit" type="button" class="btn btn-primary"
                          onclick=changeConfirm()>저장
                    </form>
                    <!--권한 상세 모달 끝-->
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>